body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

nav {
    background-color: #4CAF50; /* Green background */
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo {
    width: 120px; /* Adjust this value to make the logo larger */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 1rem;
}

.webbar {
  position: fixed;
}

#navbar {
    display: flex;
}

#navigation {
    margin-top: 18px;
    display: inline-flex;
    margin-left: 480px;
}

#navigation ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#navigation ul li a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    position: relative; /* Added for pseudo-element positioning */
}

#navigation ul li a::after {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 0;
    height: 2px; /* Height of the line */
    background-color: white; /* Line color */
}

#navigation ul li .active::after {
    width: 100%;
    height: 25%;
}

#navigation ul li :hover:not(.active)::after {
    width: 100%; /* Full width on hover */
    animation: line-grow 0.3s ease-in-out forwards; /* Apply the keyframes animation */
}

@keyframes line-grow {
    from {
        width: 100%;
        border-radius: 0px;
        height: 0%;
    }
    to {
        margin-top: 12px;
        height: 25%;
        width: 100%;
    }
}

@keyframes line-down {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.dropdown {
    position: relative;
}

.dropdowncontent {
    position: absolute;
    background-color: #4CAF50;
    display: none;
    text-align: left;
    font-size: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    width: 300px;
}

.dropdowncontent a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdowncontent a:hover {
    background-color: #3e8e41;
}

.dropdown:hover .dropdowncontent {
    display: block;
}

#progress-bar {
    position: fixed;
    top: 0px; /* Adjust based on your webbar height */
    left: 0;
    width: 0;
    height: 4px; /* Thickness of the progress bar */
    background-color: #4CAF50; /* Color of the progress bar */
    z-index: 1000; /* Make sure it appears above other elements */
  }

.main-container {
    display: flex;
    overflow: hidden;
}


main {
    flex: 1;
    padding: 2rem;
    overflow:auto;
}
.content {
    background-color: #ffffff;
    padding: 20px; /* Increased padding for more whitespace */
    border-radius: 10px; /* Slightly more rounded corners */
    font-size: 18px;
    line-height: 1.6; /* Increased line-height for better readability */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Slightly larger shadow for depth */
    font-family: 'Montserrat', sans-serif; /* Use a clean, sans-serif font */
}

.content p {
    margin-bottom: 20px; /* Space between paragraphs */
    color: #333; /* Slightly darker text for better contrast */
}


section {
    margin-bottom: 2rem;
}

h2 {
    color: #4CAF50; /* Green color */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

p, li {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-left, .footer-right {
    flex: 1;
    padding: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    font-size: 15px;
    font-weight: bolder;
    text-decoration: underline;
}



.footer-newsletter form {
    display: flex;
    flex-direction: column;
}

.footer-newsletter input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.footer-newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.footer-newsletter button:hover {
    background-color: #45a049;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-description p {
    margin-top: 10px;
}

.footer-social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-social a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
}

main::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

main::-webkit-scrollbar-track {
    background: #f4f4f4; /* Background of the scrollbar track */
}

main::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Scrollbar thumb color */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
    border: 3px solid #f4f4f4; /* Adds space around the thumb for a better visual */
}

main::-webkit-scrollbar-thumb:hover {
    background-color: green; /* Darker color when hovered */
}

#image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0; /* Adjusts the margin above and below the container */
}

#image1 {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintains the aspect ratio */
    /* Adds a border */
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow effect */
    margin: 10px; /* Adds space around the image */
    transition: transform 0.3s ease-in-out; /* Smooth transition for transformations */
}

#image1:hover {
    transform: scale(1.05); /* Scales the image up slightly on hover */
    border: 2px solid whitesmoke
}


#targets {
    margin-bottom: 2rem;
}

#targets h2 {
    color: #3a3a3a; /* Dark grey color */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.contentoftarget {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Three columns */
    gap: 20px;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.target {
    background-color: #f4f4f4;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.target-image {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.target-text h3 {
    color: #3a3a3a; /* Dark grey color */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}

.target-text p {
    color: #555555; /* Greyish tone */
    font-size: 16px;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center; /* Adjust if needed */
    padding: 21px;
}

.video {
    max-width: 100%;
}

.firstvideo {
    max-width: 100%;
    height: 324px;
}



#image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0; /* Adjusts the margin above and below the container */
}

#image2 {
    width: auto; /* Ensures the image is responsive */
    height: 540px; /* Maintains the aspect ratio */
    /* Adds a border */
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow effect */
    margin: 10px; /* Adds space around the image */
    transition: transform 0.3s ease-in-out; /* Smooth transition for transformations */
}

#image2:hover {
    transform: scale(1.05); /* Scales the image up slightly on hover */
    border: 2px solid whitesmoke
}


/* Quiz page buttons 


*/

.control-btns{
    display: flex;
    flex-direction: column;
}

.submit-btn,.rst-btn {
    margin-left: 250px;
    display:inline;
    width: 20%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.submit-btn:hover,.rst-btn:hover {
    background-color: #45a049;
}

.question {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.question h2 {
    font-size: 18px;
    color: #333;
}
.options label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
.options input {
    margin-right: 10px;
}

/*------------------------------------------------------------------*/


#clean-energy p{
    color:#555;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0; /* Adjusts the margin above and below the container */
}

/*----------------------------------------------------------------------------*/
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 660px; /* Adjust based on your image size */
    height: 515px; /* Adjust based on your image size */
    perspective: 1000px;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
}

.card .front, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .front {
    transform: rotateY(0deg);
    background-color: #fff;
}

.card .back {
    transform: rotateY(180deg);
    background-color: #fff;
}

.iframe-container {
    position: relative;
}

.flip-icon {
    position: absolute;
    bottom: 20px; /* Adjust based on desired position */
    right: 20px; /* Adjust based on desired position */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#prev {
    left: 216px;
}

#next {
    right: 216px;
}





